<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>高品质保洁</string>
		<key>Icon</key>
		<string>jiatingbaojie</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>把月子带回家</string>
		<key>Icon</key>
		<string>yuesao</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>海量品质保姆</string>
		<key>Icon</key>
		<string>baomu</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>家电/房屋维修</string>
		<key>Icon</key>
		<string>weixiu</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>搬家 拉货</string>
		<key>Icon</key>
		<string>banjiatong</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>科学育婴指导</string>
		<key>Icon</key>
		<string>yuersao</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>呵护健康洁净如新</string>
		<key>Icon</key>
		<string>qichebaoyang</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>3折起</string>
		<key>Icon</key>
		<string>xiche</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Icon</key>
		<string>gengduo</string>
	</dict>
</array>
</plist>
