<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Icon</key>
		<string>sale_maincate</string>
		<key>Title</key>
		<string>二手物品</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>zufang_maincate</string>
		<key>Title</key>
		<string>租房</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>car_maincate</string>
		<key>Title</key>
		<string>二手房</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>job_maincate</string>
		<key>Title</key>
		<string>全职招聘</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>jianzhi_maincate</string>
		<key>Title</key>
		<string>兼职</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>二手车</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>pets_maincate</string>
		<key>Title</key>
		<string>宠物</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shenghuo_maincate</string>
		<key>Title</key>
		<string>家政</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>本地服务</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>58到家</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>SUV</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>peilian_thirdutility</string>
		<key>Title</key>
		<string>练手车</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>附近工作</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>福利工作</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>地图租房</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>优品房源</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>押一付一</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>shangjie_maincate</string>
		<key>Title</key>
		<string>更多</string>
	</dict>
</array>
</plist>
