<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemTitle</key>
		<string>最后一份工作</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Title</key>
				<string>公司名称</string>
				<key>SubTitle</key>
				<string>请输入公司名称</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>职位名称</string>
				<key>SubTitle</key>
				<string>请输入职位名称</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>开始时间</string>
				<key>SubTitle</key>
				<string>请选择开始时间</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>结束时间</string>
				<key>SubTitle</key>
				<string>请选择结束时间</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ItemTitle</key>
		<string>我的最高学历</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Title</key>
				<string>学校名称</string>
				<key>SubTitle</key>
				<string>请填写学校名称</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>专业名称</string>
				<key>SubTitle</key>
				<string>请填写您的专业</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>毕业时间</string>
				<key>SubTitle</key>
				<string>请选择毕业时间</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ItemTitle</key>
		<string>我的亮点</string>
		<key>Items</key>
		<array>
			<array>
				<string>沟通能力</string>
				<string>执行力强</string>
				<string>学习力强</string>
				<string>有亲和力</string>
				<string>诚信正直</string>
				<string>责任心重</string>
				<string>雷厉风行</string>
				<string>沉稳内敛</string>
			</array>
			<dict>
				<key>Title</key>
				<string>其他亮点</string>
				<key>SubTitle</key>
				<string>字数8字以内</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
